aside {
    padding-top: 80px;
    width: 23%;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
}

aside a {
    color: #3e5eb1;
}

aside h4 {
    text-align: center;
    font-size: 30px;
    margin: 0px 0px 50px 0px;
}

aside ul {
    padding: 0px;
}

aside ul li {
    list-style: none;
    margin: 20px auto 0px auto;
    padding: 7px 0px;
    text-align: center;
}

.section-info-moduls {
    padding-top: 50px;
    max-width: 77%;
    margin-left: 23%;
}

.section-info-moduls h4 {
    font-size: 35px;
    text-align: center;
}

.reduccion {
    background-color: #2d2d2d;
    color: white;
}

.active {
    color: #f8c555;
}

.btn-amarillo {
    background-color: #f8c555;
    color: white;
}

.btn-amarillo:hover {
    background-color: #fcbc34;
    color: white;
    font-weight: bold;
}

.btn-azul {
    background-color: #3e5eb1;
    color: white;
}

.btn-azul:hover {
    background-color: #3e5eb1;
    color: white;
    font-weight: bold;
}

.form-check input[type=radio] {
    visibility: hidden;
}

.form-check input[type=checkbox] {
    visibility: hidden;
}

.form-check .checkbox-Soft {
    position: relative;
    display: block !important;
    width: 60px;
    height: 30px;
}

.form-check .checkbox-Soft.order {
    width: 100%;
    height: 100%;
}

.form-check .checkbox-Soft label::before {
    content: '';
    background: transparent;
    border: 2px solid #3e5eb1;
    border-radius: 25px;
    display: inline-block;
    height: 25px;
    width: 25px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    position: absolute;
}

.form-check .checkbox-Soft input[type=radio]:checked+label::before {
    content: '✔';
    font-size: 15px;
    font-family: 'Times New Roman';
    color: #fcbc34;
}

.form-check .checkbox-slide {
    display: inline-block;
    position: relative;
    width: 90px;
    height: 30px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 4px 1px black;
}

.form-check .checkbox-slide label {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background: linear-gradient(to right, white 0, #3e5eb1 100%);
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all 10s linear;
    z-index: 1;
}

.form-check .checkbox-slide input[type="checkbox"]:checked+label {
    left: auto;
    right: 5px;
}

.p-question {
    margin-left: 30px;
    max-width: 330px;
}

.p-question span.false {
    color: red;
}

.p-question span.true {
    color: green;
}

.question {
    font-size: 25px;
    color: black;
    font-weight: bold;
    margin: 50% auto 20px auto;
    transform: translateY(-100px);
}

.question span {
    font-size: 15px;
    color: #3e5eb1;
    font-weight: bold;
    display: block;
}

.question span#correct_ans {
    font-size: 25px;
    color: black;
    font-weight: bold;
    display: inline;
}

.question span.err {
    color: red;
}

.question span.succ {
    color: green;
}

.question.order {
    margin: 0;
    transform: none;
}

.p-order {
    margin-left: 35px;
    margin-top: -5px;
    /* text-align: center; */
}

.ejemplocuadro {
    /* display: inline-block; */
    width: 20px;
    /* background-color: rgba(128, 128, 128, .6); */
    height: 20px;
    position: absolute;
    top: 50px;
    left: 3px;
}

table{
    text-align: center;
}

table thead{
    background-color: #f8c555;
    color: white;
}

.content-line{
    border: 1px solid black;
    margin: 40px auto;
}

footer {
    width: 77%;
    margin-left: 23% !important;
}

