/* .carousel-item-main {
    position: relative;
    justify-content: center;
}

.carousel-item-main img {
    width: 100%;
    height: 80vh;
}

.carousel-item-main h3 {
    position: absolute;
    top: 40%;
    left: 50%;
    margin: auto;
    transform: translateX(-330px);
    color: white;
    z-index: 2;
    font-size: 50px;
    text-align: center;
}

.carousel-inner-main::after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 92vh;
    background-color: rgba(0, 0, 0, .6);
    z-index: 1;
}

.carousel-item-themes {
    position: relative;
    justify-content: center;
}

.carousel-item-themes img {
    width: 100%;
}


.carousel-item-themes h3 {    
    margin: auto;
    color: black;
    z-index: 2;
    font-size: 30px;
    text-align: center;
} */

.carousel-item-themes h3 {    
    margin: auto;
    color: black;
    z-index: 2;
    font-size: 30px;
    text-align: center;
}

.carousel-item-themes img {
    width: 100%;
}

#main{
    padding-top: 100px;
    max-width: 1111px;
    margin: auto;
}

#main h3{
    text-align: center;
}

#main-image-content img{
    width: 100%;
}

#carouselModuls .carousel-control-prev {
    left: -72px;
    width: 70px;
}

#carouselModuls .carousel-control-next {
    right: -72px;
    width: 70px;
}

#carouselModuls .carousel-control-next .carousel-control-next-icon {
    background-color: black;
    padding: 15px;
    /* margin-left: 218px; */
}

#carouselModuls .carousel-control-prev .carousel-control-prev-icon {
    background-color: black;
    padding: 15px;
    /* margin-left: -218px; */
}

.content-img-slide{
    width: 200px; margin: auto
}

.content-img-slide img{
    width: 100%;
}

.explain {
    text-align: center;
    margin-top: 25px;
}

.explain h2 {
    margin: 30px auto 30px auto;
}

.explain p {
    text-align: left;
}

#moduls-content{
    height: 300px;
}